<nav class="navbar navbar-expand boder-bottom shadow-sm">
  <div class="container">
    <%= link_to root_path do %>
      <p class="text-dark text-decoration-none navbar-brand">Personal Financial Management</p>
    <% end %>
    <div class="">
      <% if user_signed_in? %>
        <div class="btn-group " >
          <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <span class="boder-dot"><span class="dot"></span></span>
          </a>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <p class="name-user"><%= current_user.decorate.full_name %></p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item item">Settings</a>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"item",style:" padding:20px 0 33px 22px;color:red" %>
          </div>
        </div>
      <% else %>
        <nav class="my-2 my-md-0 mr-md-3">
          <%= link_to "Login", new_user_session_path, class:"btn button" %>
        </nav>
      <% end %>
    </div>
  </div>
</nav>