 <div class="container border-bottom ">
      <p>
        <%= link_to 'Home', root_path ,class:"text-muted"%>
      </p>
      <p>
        <%= link_to 'Account', accounts_path ,class:"text-muted"%>
      </p>
      <p>
        <%= link_to 'Transactions', transactions_path ,class:"text-muted"%>
      </p>
    </div>
    <div class="container ">
      <p>Categories
      <p>Settings
    </div>