 <div class="container border-bottom ">
      <p>
        <%= link_to 'Home', root_path%>
      </p>
      <p>
        <%= link_to 'Account', accounts_path %>
      </p>
      <p>
        <%# <%= link_to 'Transactions' transactions_path %> %>
      </p>
      <p> Balance</p>
    </div>
    <div class="container ">
      <p>Categories
      <p>Settings
    </div>