table.table-borderless {
  color: #A9A9A9;
  font-size: 15px;
  line-height: 15px;
  margin-left: -14px;
  margin-top: 36px;

tr {
  padding: auto;
  border-bottom: 1px solid #EBEBEB;
  td{
    height: 60px;
    padding-top: 20px;
  }
  td.black{
    color: #2A2A2A;
  }

  &.active {
    color: black;
    font-size: 15px;
    line-height: 15px;
    td{
      &.active-color{
        color: #23D2B6;
        }
      }
    }
  }
}

.btn-outline-success{
  margin-right: 1px;
}

.title-table{
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;  }

.line-header{
  margin-top: 34px;
}

.left-table{

  color: #A9A9A9;
  font-size: 14px;
}

.container.border-bottom{
  padding-top: 32px;
  padding-bottom: 53 ;
  margin-bottom: 12px;
}

.col-sm-2.border-right.left-table{
  height:calc(100vh - 60px);
}

.modal-content.form-account{
  width:600px;
  height:315px;
  .modal-body{
    padding: 42px 40px 47px 40px;

    .btn{
      width: 180px;
      height: 44px;
    }
    .btn.btn-outline-secondary{
      margin-left: 68px;
    }
    .btn.btn-primary{
      margin-right: 68px;
    }
    .actions{
      padding-top:30px;
    }
  }
}

.require{
  color:red;
  font-weight: bold;
  font-size: 12px;
}

.modal-content.form-transaction{
  height: 550px;
  width: 600px;
  .modal-body{
    padding: 42px 40px 47px 40px;

    .btn{
      width: 180px;
      height: 44px;
    }
    .btn.btn-outline-secondary{
      margin-left: 68px;
    }
    .btn.btn-primary{
      margin-right: 68px;
    }
  }
  .actions{
    padding-top:30px;
  }
}
