.titile_home{
  width: 522px;
  height: 188px;

  font-family: Montserrat;
  font-weight: 800;
  font-size: 74px;
  margin-bottom: 35px;
}

.mini_title{
  width: 476px;
  height: 62px;

  font-family: Montserrat;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;

}

.sign_up{
  background: #3A5AFF;
  border-radius: 4px;
  width: 255px;
  height: 56px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;


  text-align: center;
  padding: 17px;
  margin-top: 50px;
}

.login_btn{
  background: #009E9E;
  border-radius: 4px;
  color : white;
  display: block;
  margin: auto;

}
.form_login{
  border: 1px solid #EBEBEB;

}
.title_form{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  padding: 47px 0 36px 0 ;
}
.container_2{
  padding: 0 30px 40px 30px;
}
.link_devise{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #23D2B6;
}
.link_devise:hover {
  color: black;
}
.input_form{
  margin-bottom: 25px;
}
.dropdown-menu{
  margin-top: 30px;
}

.name_user{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.item{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}