.title-home{
  font-weight: 800;
  font-size: 74px;
  padding-bottom: 35px;
}

.mini-title{
  font-size: 24px;
  line-height: 31px;
  padding-bottom: 48px;

}

.button {
  background: #009E9E;
  border-radius: 4px;
  color : white;
  display: block;
  margin: auto;
}

.form-login{
  margin-top: 22px;
  border: 1px solid #EBEBEB;
  max-width:400px ;
}
.form-forgot{
  margin-top: 22px;
  border: 1px solid #EBEBEB;
  max-width:400px ;
}

.form-sigup{
  margin-top: 22px;
  border: 1px solid #EBEBEB;
  max-width:600px ;
}

.title-form{
  font-size: 28px;
  line-height: 28px;
  padding: 47px 0 36px 0 ;
}

.container {
  padding: 0 30px 40px 30px;
}

.link-devise{
  font-size: 12px;
  line-height: 12px;
  color: #23D2B6;
}

.link-devise:hover {
  color: black;
}

.input-form{
  margin-bottom: 25px;
}

.dropdown-menu{
  margin-top: 30px;
}

.name-user{
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding: 18px 0 35px 22px ;
}

.item{
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.actions{
  padding: 35px;
  .btn {
    width: 180px;
    height: 44px;
    border: 1px solid #EBEBEB;

  }
  .btn.btn-primary{
    background-color: #009E9E;
    border-radius: 1px solid #009E9E;
    color : white;

  }
}

.boder-bottom.shadow-sm{
  height: 60px;
  padding-top: 60px;
  .text-dark.text-decoration-none{
    font-weight: bold;
    font-size: 16px;
    line-height: 205%;
  }
}

.dot{
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.dot:hover{
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.home-page{
  .row{
    .col-sm-6{
      padding: 60px
    }
    .btn.btn-primary{
      height:56px;
      width:256px;
      font-weight: 800;
      font-size: 16px;
      padding: 15px;
    }
  }
}

.boder-dot:hover {
  height: 44px;
  width: 44px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}