| <div class="modal fade" id=
= target
|  tabindex="-1" role="dialog" aria-hidden="true">
.modal-dialog[role="document"]
  .modal-content
    .modal-body
      - if type == "new"
        h5
          | New Form
      - else
        h5
          | Edit Form
      = form_with(model: account) do |form|
        .form-group
          = form.label :name, class:"col-form-label"
          = form.text_field :name, class:"form-control"
        - if type == "new"

        - else
          .form-group
            = form.label :acctive
            = form.check_box :status
        .field
          = form.label :currency
          p
            = form.select :currency_type, [["VND", 0], ["USD", 1]]
        .actions.container
          button.btn.btn-outline-secondary[type="button" data-dismiss="modal"]
            | Cancel
          = form.submit class:"btn btn-primary"