.row
  .col-sm-2.border-right.left-table
    = render "share/link"
  .col-sm-10.border-left.abc
    .row.line-header
      .col-sm-10
        p.title-table
          | Account
      .col-sm-2
        button.btn.btn-outline-success[type="button" data-toggle="modal" data-target="#newForm" data-whatever="@getbootstrap"]
          | New Account
        = render "form", account: @account, target: "newForm", type: "new"
    table.table.table-borderless
      tr
        th[scope="col"]
          | Account name
        th[scope="col"]
          | Status
        th[scope="col"]
          | Balance
        th[scope="col"]
          | Actions
      tbody
        - @accounts.each do |account|
          - if account.id
            |  <tr class=
            = account.status ? "active" : "disable"
            | >
            td
              =account.name
            td.active-color
              = account.status ? "Active" : "Disable"
            td
              = account.balance
              =account.currency_type == 0 ? "VND" : "USA"
            td
              |  <p class="text-success" data-toggle="modal" data-target="
              = "#editForm_#{account.id}"
              | "> Edit Account
              = render "form", account: account, target: "editForm_#{account.id}", type: "edit"