

<div class="row">
  <div class="col-sm-2 border-right">
  </div>
  <div class="col-sm-10 border-left abc">
    <div class="row">
      <div class="col-sm-6">
        <h1>Account</h1>
      </div>
      <div class="col-sm-6">
        <%= link_to "New Account", new_account_path, remote: true, class: "btn btn-primary" %>
      </div>
    </div>


    <table class="table">
        <tr>
          <th scope="col">Account name</th>
          <th scope="col">Status</th>
          <th scope="col">Acction</th>
        </tr>
      <% @accounts.each do |account| %>
        <tbody>
          <tr>
            <td> <%=account.name %></td>
            <td> <%=account.status %></td>
            <td> </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>

