<div class="row">
  <div class="col-sm-2 border-right">
  </div>
  <div class="col-sm-10 border-left abc">
    <div class="row">
      <div class="col-sm-6">
        <h1>Account</h1>
      </div>

      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newForm" data-whatever="@getbootstrap">New Account</button>
      <%= render "form", account: @account, target: "newForm" %>
    </div>

    <table class="table">
      <tr>
        <th scope="col">Account name</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      <tbody>
        <% @accounts.each do |account| %>
          <% if account.id %>
            <tr>
              <td><%=account.name %></td>
              <td><%=account.status %></td>
              <td>
                <%= link_to "Edit", edit_form_account_path(account.id), remote: true, data: { toggle: 'modal', target: "#editForm_#{account.id}" } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="form-section">
      <div class="edit-area">
      </div>
    </div>

  </div>
</div>
